.bg{
    width: 100%;
    height: 230vh;
    background-size: cover;
    background-position: center; 
    background-image: url('../img/bggenre.jpg');
}

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Quattrocento', serif;
  text-align: center;
}

/** Nav bar**/

.logo {
  color: white;
  position: absolute;
  right: 50px;
  font-size: 30px;
  top: 10px;
  font-family: 'Tangerine', cursive;
}

.navbar {
  overflow: hidden;
  background-color: #b44e4e;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #d94c54;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #d94c54;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/**flip card**/

.title{
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #50483b;
}

.checked {
  color: #ffe803;
}

.star {
  position: absolute;
  bottom: 40px;
  left: 150px;
}

.flip-card {
  background-color: transparent;
  width: 1000px;
  height: 350px;
  perspective: 1000px;
  float:left;
  padding:30px;
  position: relative;
  left:  100px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #cf3e3e;
  color: #fff9fa;
  font-family: courrier;
}


/** Content**/ 


.flip-card-front-f1 {
  position: absolute; 
  right: 200px; 
  top: 70px;
}

.flip-card-front-f2 {
  position: absolute; 
  right: 160px; 
  top: 90px;
}

.flip-card-front-f3 {
  position: absolute; 
  right: 170px; 
  top: 70px;
}

.flip-card-front-h1 {
  position: absolute; 
  right: 100px; 
  top: 80px;
}

.flip-card-front-h2 {
  position: absolute; 
  right: 230px; 
  top: 80px;
}

.flip-card-front-h3 {
  position: absolute; 
  right: 150px; 
  top: 90px;
}

.flip-card-front-y1 {
  position: absolute; 
  right: 190px; 
  top: 70px;
}

.flip-card-front-y2 {
  position: absolute; 
  right: 140px; 
  top: 70px;
}

.flip-card-front-y3 {
  position: absolute; 
  right: 190px; 
  top: 70px;
}

.flip-card-front-p1 {
  position: absolute; 
  right: 200px; 
  top: 80px;
}

.flip-card-front-p2 {
  position: absolute; 
  right: 100px; 
  top: 80px;
}

.flip-card-front-p3 {
  position: absolute; 
  right: 190px; 
  top: 80px;
}


.flip-card-back {
  background-color: #cf3e3e;
  color: #fff9fa;
  transform: rotateY(180deg);
}

.textsynopsis{
  position:  relative; 
  width: 800px; 
  height: 300px;
  left: 100px;
  text-align: center;
}